<% include ./partials/header %>
<h1>index page</h1>

<% blogs.map((blog) => { %>
 <h1> <%= blog.title %> </h1>
 <p> <%= blog.created.toDateString() %></p>
 <img src="<%= blog.image %>" />
 <p> <%= blog.body %></p>
<% }) %>

<% include ./partials/footer %>